.App-info {
  margin-top: calc(10px + 2vmin);
  font-size: smaller;
}

input, select, option {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

input, select {
  height: 22px;
}