.ResourceGrid {
  display: flex;
  flex-flow: column nowrap;
}

.Resource {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 5px;
}

.Resource-Label {
  flex-basis: 310px;
}

.Resource-Input {
  flex-grow: 1;
}

.Resource-CopyLink {
  margin: auto 0 auto 3px;
  font-size: smaller;
}
